:root {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #BB7F7E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: whitesmoke;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3rem;
}

#books-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.book {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 180px;
    padding: 1rem;
    border-radius: 5px;
    gap: 1.4rem;
}

.title {
    border: 2px solid hsl(1, 77%, 42%);;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.title h2 {
    color: hsl(1, 48%, 53%);
    display: block;
    text-align: center;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
}

.author {
    font-weight: bold;
}

.id {
    font-size: 0.5rem;
    color: grey;
    text-align: center;
}

#addNewBtn {
    padding: 16px;
    border-radius: 25px;
    border: none;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.542);
    margin-bottom: 1rem;
}

#addNewBtn:active {
    box-shadow: inset 5px 5px 15px -5px rgba(0, 0, 0, 0.542);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.259);
}

dialog {
    margin: auto;
    display: flex;
    flex-direction: column;
}